<h1>Fill out a lib</h1>

<% @frame_text.each do |text_piece| %>
	<%= "#{text_piece} ____" %>
<% end %>
<%= @last_text_piece %>

<% @types.each do |keyword_type| %>
	<br><input type="textbox" value="<%= keyword_type %>">
<% end %>

<br>
<input type="button" value="Submit">
